<div class="flex flex-column flex-auto">
  <div class="page-background">
    <div class="container">
        <div class="mx-auto">
          <div class="settings-modal mx-auto">
            <div class="client-details center">
              <div class="client-badge bg-gray rounded overflow-hidden ng-gray mx-auto mb1">
                <img ng-src="{{ $root.account.clientBadge.urlLarge }}" err-src="images/client-logo-default.svg" alt="{{ $root.account.displayName || $root.currentClient.id }}" style="cursor: pointer;"/>
              </div>
              <h1 class="center m0 p0" style="text-transform: capitalize;">{{ $root.account.displayName || $root.currentClient.id }}</h1>
            </div>

            <nav id="settingsMenu" class="settings-menu mx-auto">
              <div ng-if="$ctrl.apiKey">
                <div align="center"><h2>{{ $root.sandboxModeEnabled ? 'Sandbox' : 'Live' }} Secret API Key</h2></div>
                <div class="block border-box center relative">
                  <input readonly ng-disabled="$ctrl.apiKeyDisabled" type='{{ $ctrl.apiHidden ? "password" : "text" }}' value="{{ $ctrl.apiKey }}" class="block col-12 mb1 field">
                  <button ng-click="$ctrl.apiHidden = !$ctrl.apiHidden" class="btn col-12">{{ $ctrl.apiHidden ? "Show" : "Hide" }} secret key</button>
                  <span style="top:8px; right:10px;" class="block absolute" tooltip tooltip-side="right" tooltip-title="{{ $ctrl.disabledKeyTooltip }}">
                    <i ng-show="$ctrl.apiKeyDisabled" class="material-icons red">block</i>
                  </span>
                </div>
              </div>
              <div ng-if="$ctrl.publishableKey">
                <div align="center"><h2>{{ $root.sandboxModeEnabled ? 'Sandbox' : 'Live' }} Publishable API Key</h2></div>
                <div class="block border-box center relative">
                  <input readonly ng-disabled="$ctrl.publishableKeyDisabled" type='{{ $ctrl.publishableHidden ? "password" : "text" }}' value="{{ $ctrl.publishableKey }}" class="block col-12 mb1 field">
                  <button ng-click="$ctrl.publishableHidden = !$ctrl.publishableHidden" class="btn col-12">{{ $ctrl.publishableHidden ? "Show" : "Hide" }} publishable key</button>
                  <span style="top:8px; right:10px;" class="block absolute" tooltip tooltip-side="right" tooltip-title="{{ $ctrl.disabledKeyTooltip }}">
                    <i ng-show="$ctrl.publishableKeyDisabled" class="material-icons red">block</i>
                  </span>
                </div>
              </div>
            </nav>
          </div>
        </div>
    </div>
  </div>
</div>
